.todoButton {
    background-color:rgb(131, 105, 202);
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.todoCreateLabel {
    width: 100%;
    padding-bottom: 10px;
}

#todoListTable {
    th {
        background-color: rgb(131, 105, 202);
    }    
}


/*  Styling for the 'inputText' fields has been placed here: 
        ToDo\src\ToDo.Webapp\wwwroot\app.css 
    Because for some reason it cannot be styled like normal and needs to be there to work
*/